.main-form{
	background-color: #fff;
	width: 360px;
	
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 0px;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 40px;	
}


h3.title{
	margin-bottom: 20px;
}

.main-form .input-icon {
	border-left: 2px solid #0090d9 !important;
}

.btn{
	border-radius: 0 !important;	
	clear: both;
}

.btn-white-blue{
	background-color: #0090d9;
}

.btn-white-blue:hover{
	background-color: #0070A9;
}


/*
	Main Page

*/

#header{
	border-right: 2px solid #0090d9 !important;
	background-color: #1F1F1F;
	height: 45px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999999;
}

/*
	Sisebar Component
*/

.sidebar{
	padding-top: 85px;
	background-color: #3F3F3F;
	height: 100%;
	width: 230px;
	position: fixed;
	top: 0;
	overflow: hidden;
    -webkit-transition: 0.15s ease;
    -moz-transition: 0.15s ease;
    -o-transition: 0.15s ease;
    transition: 0.15s ease;         		
}

.sidebar .sidebar-menu{
	list-style: none;
	margin: 0;
	padding: 0;	
}

.sidebar .sidebar-menu li a {
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;	
	border-top: 1px solid #4d4d4d;
	color: #d9d9d9;
}

.sidebar .sidebar-menu li:hover{
	cursor: pointer;
}

.sidebar .sidebar-menu li.active a{
	background: #2e933d;
	border-top-color: transparent;
	color: white;
}

.sidebar .sidebar-menu li.active a:hover{
	background: #2e933d;
	color: white;
}


.sidebar .sidebar-menu li:last-child{
	border-bottom: 1px solid #4d4d4d;
}

.sidebar .sidebar-menu li a:hover{
	background: #303030;
	color: #d9d9d9;
}

.sidebar .sidebar-menu li.active > a > .selected{
	background-image: url("../img/sidebar-menu-arrow.png");
}

.sidebar .sidebar-menu li.active > a > .selected{
	display: block;
	width: 8px;
	height: 25px;
	float: right;
	position: absolute;
	right: 0px;
	top: 8px;
}

.page-wrapper.menuNoActive #pageSidebar{        
    left: -230px;
}

.page-wrapper.menuActive #pageSidebar{
   -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}

/*

	PageContent

*/

#pageContent{
	padding-top: 45px;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	-webkit-transition: 0.15s ease;
	-moz-transition: 0.15s ease;
	-o-transition: 0.15s ease;
	transition: 0.15s ease;	
}

.page-wrapper.menuNoActive #pageContent{
	left: 0px;
}

.page-wrapper.menuActive #pageContent{
   -webkit-transform: translate(230px, 0px);
   -moz-transform: translate(230px, 0px);
   -o-transform: translate(230px, 0px);
   -ms-transform: translate(230px, 0px);
   transform: translate(230px, 0px);
}

