<html>
    <head lang="es">

        <meta charset="UTF-8">
        <title>Sistema UTN</title>

        <!-- Include jQuery lib -->
        <script src="libs/jquery/dist/jquery.js" ></script>

        <!-- Include AngularJS lib -->
        <script src="libs/angular/angular.js" ></script>

        <!-- Include AngularJS Resource lib -->
        <script src="libs/angular-resource/angular-resource.js" ></script>

        <!-- Include Angular Route lib -->
        <script src="libs/angular-route/angular-route.js" ></script>

        <!-- Include Module logic file -->
        <script src="app/controllers/authenticationCtrl.js"></script>

        <!-- Include Bootstrap lib -->
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.css" />

        <!-- Include Bootstrap Theme lib -->
        <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap-theme.css" />

        <!-- Include Module css template -->
        <link rel="stylesheet" type="text/css" href="css/template.css" />


    </head>
    <body ng-app='authenticationApp'>

        <div id='#page-content' ng-view>
        </div>

    </body>

</html>